.util {
  background-color: var(--background-color);
  padding: 80px 0px;

  &__container {
    position: relative;

    &__bg {
      position: absolute;
      background-color: #2b2d42;
      top: 60px;
      bottom: 60px;
      left: 0px;
      right: 0px;
    }

    &__content {
      position: relative;
      &__description {
        background-color: #8d99ae;
        padding: 0px 30px !important;
      }
      &__image {
        padding: 0px !important;
      }
    }
  }

  .nftId {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    color: #ffffff;
    margin-bottom: 0px !important;
  }
  .title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    color: #ffffff;
  }
  .description {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
  }
  .nftImage {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .util {
    &__container {
      &__content {
        padding: 0px 40px !important;
      }
    }
  }
}
